#root{
    background-color: #d1cdd7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ingredient{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Florence, cursive;
    font-weight: bold;
    list-style-type: none;
}


.search_bar{
    position: relative;
    margin: 0px;
    padding: 0px;
    border-radius: 20px;
    width: 300px;
    height: 30px;
    margin-left: 50px;

}

.search_button{
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #FF9933;
    text-decoration: white;
    border-radius: 20px;
    padding: 0px;
    margin: 0px;
    margin: 20px;
}

.search_form{
    position: relative;


}
img{
    text-align: center;
}

.ingredientList{
    margin-bottom: 10px;
}

.list-group {
    border-radius: 20px;
}

.ing{
    background-color: #cedcee;
}

.btn form-inline my-2 my-lg-0{
    text-align: center;
    margin-left: 200px;
    background-color: black;
}