#root{
    background-color: #41628c;
    width: 100%;
    height: 100%;
    text-align: center;
}
.ingredient{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Florence, cursive;
    font-weight: bold;
    list-style-type: none;
}


.search_bar{
    position: relative;
    margin: 0px;
    padding: 0px;
    border-radius: 20px;
    width: 300px;
    height: 30px;
    margin-left: 50px;

}

.search_button{
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #FF9933;
    text-decoration: white;
    border-radius: 20px;
    padding: 0px;
    margin: 0px;
    margin: 20px;
}

.search_form{
    position: relative;


}

.ingredientList{
    margin-bottom: 10px;
}

img{
    margin: 20px;
    border-radius: 50%;
}

.ing{
    background-color: #cedcee;
}